# PosgresSQL
POSTGRES_DB=vdocs_db
POSTGRES_USER=vdocs_user
POSTGRES_PASSWORD=vdocs_pass

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_pass
MINIO_BUCKET=vdocs