.fullWidthTree {
  width: 100%;
}

.children {
  padding-left: 12px;
}

.treeLink,
.treeLink:link,
.treeLink:visited,
.treeLink:hover,
.treeLink:active {
  color: inherit !important;
  text-decoration: none;
}
