PORT=3001
NODE_ENV=local

NEXT_PUBLIC_LARK_APP_ID=cli_aafb680349389eef

LARK_OAUTH_TOKEN_URL=https://open.larksuite.com/open-apis/authen/v2/oauth/token
LARK_USER_INFO_URL=https://open.larksuite.com/open-apis/authen/v1/user_info 