# App
NEXT_PUBLIC_API_URL=https://api-docs-mobile.vtvlive.vn
FRONTEND_URL=https://docs-mobile.vtvlive.vn

# Auth
LARK_APP_SECRET=your_lark_app_secret
JWT_SECRET=your_jwt_secret

ACCESS_TOKEN_MAX_AGE_MS=604800000
REFRESH_TOKEN_MAX_AGE_MS=2592000000

# PostgreSQL
DATABASE_URL=postgresql://vdocs_user:your_postgres_password@postgres:5432/vdocs_db?schema=public
POSTGRES_DB=vdocs_db
POSTGRES_USER=vdocs_user
POSTGRES_PASSWORD=your_postgres_password

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_BUCKET=vdocs