NEXT_PUBLIC_LARK_APP_ID=cli_aafb680349389eef
NEXT_PUBLIC_API_URL=http://localhost:3001
LARK_OAUTH_TOKEN_URL="https://open.larksuite.com/open-apis/authen/v2/oauth/token";
LARK_USER_INFO_URL="https://open.larksuite.com/open-apis/authen/v1/user_info";
LARK_APP_SECRET=xxx
JWT_SECRET=your-super-secret-key
DATABASE_URL=postgresql://vdocs_user:vdocs123@localhost:5432/vdocs_db?schema=public
FRONTEND_URL=http://localhost:3000
