NEXT_PUBLIC_API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000

// Auth
LARK_APP_SECRET=YOUR_LOCAL_LARK_SECRET
JWT_SECRET=your-super-secret-key

// Postgresql
DATABASE_URL=postgresql://vdocs_user:vdocs_pass@postgres:5432/vdocs_db?schema=public
POSTGRES_DB=vdocs_db
POSTGRES_USER=vdocs_user
POSTGRES_PASSWORD=vdocs_pass

// MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=vdocs_minio
MINIO_ROOT_PASSWORD=vdocs_minio_123456
MINIO_BUCKET=vdocs
